# Build folders
Debug/
Release/

# Object files
*.o
*.d
*.su
*.elf
*.bin
*.hex
*.map
*.list

# STM32CubeIDE settings
.settings/
.metadata/

# IDE temporary files
*.log
*.tmp
*.bak

# Build system files
objects.list
makefile
sources.mk
subdir.mk

# Linker outputs
*.axf

# Windows files
Thumbs.db
desktop.ini

# Mac files
.DS_Store
